@import '../commons/commons.scss';

nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $bodyColor;
  padding: 0.5rem 3rem;

  .logo {
    font-weight: 800;
    font-size: 1.5rem;
  }

  .menu {
    font-weight: 600;
    ul {
      display: flex;

      li {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $bodyColor;
          //   outline: 2px solid $bodyColor;
        }
      }
    }
  }
}
