@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

$mainColor: #1a1a3a;
$bodyColor: #faebd7;
// $pointColor: #daa520;
$pointColor: #ff6670;
$dimgrey: #56544f;

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem;
  border-bottom: 4px solid black;
}

.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
