@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap');

$mainColor: #2f4f4f;
$bodyColor: #faebd7;
$pointColor: #daa520;
$dimgrey: #56544f;

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}
