@import '../commons/commons.scss';

.home {
  @extend .container;
  background-color: $mainColor;

  .moto {
    font-size: 2rem;
    color: $pointColor;
    font-weight: 700;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background: $mainColor;
      animation: typewriter 3s steps(36) 1s forwards;
    }

    &::after {
      width: 0.125rem;
      background: $bodyColor;
      animation: typewriter 3s steps(36) 1s forwards, blink 750ms infinite;
    }
  }

  .intro {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 3s ease 2s forwards;

    .profile {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .explain {
      margin-top: 1.5rem;
      text-align: center;
      color: $bodyColor;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .home {
    .moto {
      font-size: 1.5rem;
    }
    .intro {
      .profile {
        width: 180px;
        height: 180px;
      }
      .explain {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    padding: 3rem 0;
    .moto {
      font-size: 1rem;
    }
    .intro {
      .profile {
        width: 150px;
        height: 150px;
      }
      .explain {
        font-size: 0.75rem;
      }
    }
  }
}
